
original_book/.Rproj.user/
original_book/*_cache/
original_book/*_files/
original_book/*.md
original_book/.Rhistory
original_book/_main.rds
original_book/render1bcc64ef472.rds
original_book/render6cc678d736fa.rds
original_book/LaTeX/Important LaTeX details.nb.html
original_book/LaTeX/Important_LaTeX_details.md

original_book/fit1.rda

original_book/render1483ed47360.rds
